/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* General */

:root{
    --black: #000;
    --white: #fff;
    --golden-orange:#ffae00;
    --burnt-orange:#ff7800;
    --charcoal:#252525;
    --font-general: "Roboto", sans-serif;
    --font-h1: "Shrikhand", serif;
    --font-liens: "Inter", sans-serif;
}

.m-width{
    max-width: 990px;
    margin: auto;
}

*{
    margin:0;
    color:var(--black);
    font-family:var(--font-general);
    text-decoration: none;
}

h1{
    font-family:var(--font-h1);
    font-size: 30px;
    font-weight: 400;
}

input{
    font-family:var(--font-liens);
    font-weight: 400;
}


/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
}

/* Main */

Main{
    #Find{
        background-color: var(--golden-orange);
        padding: 15px;
        
        p{
            font-size: 15px;
            font-weight: 300;
        }
        
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap:10px;
            padding: 20px 0;
            div{
                padding: 10px;
            }
        }
        form{
            display: flex;
            flex-direction: column;
            gap:15px;
            width: 100%;
            
            input{
                padding: 7px;
                border-radius: 12px;
                background-color: var(--golden-orange);
                border: none;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
            }
            button{
                background-color: var(--burnt-orange);
                padding: 10px 15px;
                border-radius: 20px;
                border:none;
                margin: auto;
                background:linear-gradient(to bottom, var(--burnt-orange), var(--golden-orange));
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
                a{
                    font-family: var(--font-liens);
                    font-size: 12.26px;
                    font-weight: 500;
                }
            }
        }
    }
    #How{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 15px;
        ul{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0;
            li{
                counter-increment: item;
                padding: 20px 0;
                border-radius: 12px;
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
                ::before{
                    content:counter(item);
                    background-color: var(--burnt-orange);
                    color: var(--white);
                    padding: 2px 7px;
                    border-radius: 50%;
                    margin-right: 5px;
                }
                p{
                    margin-left: -11px;
                    font-weight: 500;
                };
            }
        }
        
    }
    #Chose{
        background-color: var(--golden-orange);
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 15px;
        >a{
            background-color: var(--burnt-orange);
            padding: 10px 15px;
            border-radius: 20px;
            border:none;
            margin: auto;
            font-size: 14px;
            font-weight: 500;
            background:linear-gradient(to bottom, var(--burnt-orange), var(--golden-orange));
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
        }
        p{
            font-size: 15px;
            font-weight: 300;
        }
        div{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        article{
            background-color: var(--white);
            border-radius: 12px;
            width: 100%;
            >img{
            width: 100%;
            border-radius: 12px 12px 0 0;
            height: 140px;
            object-fit: cover;
            }
            a{
                padding: 10px;
                display: block;
            }
            form{
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-top: 1.5px solid var(--golden-orange);
                input{
                    display: none;
                }
                
                .pouce-label{
                background-image: url(../img/thumbs-up-regular.svg);
                width: 20px;
                height: 20px;
                display: block;
                cursor: pointer;
                }
                input[type=checkbox]:checked + .pouce-label,
                input[type=checkbox]:hover + .pouce-label{
                    background-image: url(../img/thumbs-up-solid.svg);
                }
            }
        }
        .New{
            position: relative;
        }
        .New::before{
            content:"New !";
            position: absolute;
            background-color: var(--burnt-orange);
            color:var(--white);
            top:10px;
            left:-12px;
            padding: 2px 10px;
            font-family: var(--font-h1);
            transform: rotate(-45deg);

        }
        
    }
}

/* Footer */

footer{
    background-color: var(--charcoal);

    h2{
        font-family: var(--font-h1);
        color:var(--white);
        font-size: 24px;
        font-weight: 400;
        padding: 15px;
    }
    ul{
        list-style: none;
        padding: 0 15px 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    a{
        color:var(--white);
        font-size: 15px;
        font-weight: 300;
    }

}

@media screen and (min-width: 767px){
    Main{
        #Find{
            div{
                form{
                    align-items: center;
                    input{
                        width:65%
                    }
                }
                div{
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}